@import "./reset.scss";
@import "./variables/global.scss";

@import "./themes/normal.scss";
@import "./themes/dark.scss";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.app {
  padding: 40px 0;
  min-height: 100vh;

  display: flex;
  flex-direction: column;
  align-items: center;

  background: var(--bg-color);
  color: var(--primary-color);
  font: var(--font-m);
}
